// SPDX-License-Identifier: GPL-2.0-or-later
//
// Copyright (c) 2011-2015, 2019-2020 Antonio Niño Díaz
//
// GiiBiiAdvance - GBA/GB emulator

#include <windows.h>

#include "../source/build_options.h"

// Setup the .exe icon
MAINICON ICON "icon.ico"

// Include version information in .exe
VS_VERSION_INFO VERSIONINFO
FILEVERSION GIIBIIADVANCE_VERSION_MAJOR, GIIBIIADVANCE_VERSION_MINOR, GIIBIIADVANCE_VERSION_PATCH, 0
PRODUCTVERSION GIIBIIADVANCE_VERSION_MAJOR, GIIBIIADVANCE_VERSION_MINOR, GIIBIIADVANCE_VERSION_PATCH, 0
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "Comments", "This program comes with ABSOLUTELY NO WARRANTY."
            VALUE "CompanyName", " " // Required
            VALUE "FileDescription", "GiiBiiAdvance emulator" // Required
            VALUE "FileVersion", GIIBIIADVANCE_VERSION_STRING // Required
            VALUE "InternalName", "GiiBiiAdvance" // Required
            VALUE "LegalCopyright", GIIBIIADVANCE_COPYRIGHT_STRING
            VALUE "LegalTrademarks", " "
            VALUE "OriginalFilename", "GiiBiiAdvance.exe" // Required
            VALUE "ProductName", "GiiBiiAdvance" // Required
            VALUE "ProductVersion", GIIBIIADVANCE_VERSION_STRING // Required
            VALUE "SpecialBuild", " "
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0809, 1252 // Language codes
        // 0x0809 = MAKELANGID(LANG_ENGLISH, SUBLANG_ENGLISH_UK) -- in <winnt.h>
        // 0x0409 = MAKELANGID(LANG_ENGLISH, SUBLANG_ENGLISH_US)
        // 1252 = Windows ANSI codepage
    }
}
